@layout('layouts/users/reset_senha')
@set('title', 'CourseGenie | Alterar senha')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">

      </p>
    </div>
  </section>
@end