@layout('layouts/disciplinas/periodos/periodo_dois')
@set('title', 'Course Genie | 2º Período')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">

    </div>
  </section>
@end