@layout('layouts/disciplinas/recomendacao')
@set('title', 'Course Genie | Recomendação')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">

    </div>
  </section>
@end