<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        @entryPointStyles('app')
        @entryPointScripts('app')
        <script>
            // On page load or when changing themes, best to add inline in `head` to avoid FOUC
                if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
                } else {
                document.documentElement.classList.remove('dark')
                }
        </script>
    </head>
    @!section('body')

    @include('components/sidebar')

    @include('components/users/reset_senha')

    <script src={{"../path/to/flowbite/dist/flowbite.min.js"}}></script>

    <script>
        const form = document.querySelector('form');
        const successModal = document.getElementById('successModal');
        const closeModalBtn = document.getElementById('closeModalBtn');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;

            if (password !== confirmPassword) {
                alert('As senhas não correspondem. Por favor, digite senhas iguais.');
            } else {
                successModal.classList.remove('hidden');
            }
        });

        closeModalBtn.addEventListener('click', function() {
            successModal.classList.add('hidden');
        });

    </script>

</html>