<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark')
        }
    </script>
</head>
@!section('body')

@if(auth.isAuthenticated)
    @include('layouts/navbar_user')
@else
    @include('layouts/navbar')
@endif

<section class="max-h-full bg-gray-50 dark:bg-gray-900 p-20">
    <h1 class="select-none text-3xl pt-5 pl-7 text-gray-900 dark:text-white"> < Confirme seus dados /> </h1>
    <div class="grid grid-cols-2 p-2">
        <form method="POST" action="{{ route('auth.edit')}}"> {{ csrfField() }}
            <div class="col-1 col-span-2 p-2">
                <div class="flex flex-col p-5 h-fit w-full rounded bg-gray-50 dark:bg-gray-800">
                    <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                        <div class="sm:col-span-2">
                            <label for="usuario" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
                            <input type="name" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.name || ''}}" placeholder="aluno" required="">
                        </div>
                        <div class="w-full">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.email || ''}}" placeholder="seu@email.com" required="">
                        </div>
                        <div class="w-full">
                            <label for="matricula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Matrícula</label>
                            <input type="text" name="matricula" id="matricula" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.matricula || ''}}" placeholder="123456789" required="">
                        </div>
                        <div class="w-full">
                            <label for="nacionalidade" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nacionalidade</label>
                            <input type="text" name="nacionalidade" id="nacionalidade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.nacionalidade || ''}}" placeholder="Nacionalidade" required="">
                        </div>
                        <div class="w-full">
                            <label for="rg" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">RG</label>
                            <input type="text" name="rg" id="rg" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.rg || ''}}" placeholder="RG" required="">
                        </div>
                        <div class="w-full">
                            <label for="cpf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CPF</label>
                            <input type="text" name="cpf" id="cpf" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.cpf || ''}}" placeholder="123.456.789-10" required="">
                        </div>
                        <div class="w-full">
                            <label for="dataNascimento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de Nascimento</label>
                            <input type="text" name="dataNascimento" id="dataNascimento" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.dataNascimento || ''}}" placeholder="DD/MM/AAAA" required="">
                        </div>
                        <div class="w-full">
                            <label for="prazoConclusao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prazo para Conclusão (Padrão / Máximo)</label>
                            <input type="text" name="prazoConclusao" id="prazoConclusao" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.prazoConclusao || ''}}" placeholder="AAAA.M / AAAA.M" required="">
                        </div>
                        <div class="w-full">
                            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                            <input type="text" name="status" id="status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.status || ''}}" placeholder="Status" required="">
                        </div>
                        <div class="w-full">
                            <label for="ira" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IRA</label>
                            <input type="text" name="ira" id="ira" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.ira || ''}}" placeholder="0.00" required="">
                        </div>
                        <div class="w-full">
                            <label for="anoLetivo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ano Letivo</label>
                            <input type="text" name="anoLetivo" id="anoLetivo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{user.anoLetivo || ''}}" placeholder="AAAA.1" required="">
                        </div>
                    </div>
                </div>       
            </div>
            <div class="flex items-center space-x-4"style="padding-left: 10px;padding-top: 30px;">
                <button type="submit" class="text-white bg-gradient-to-br from-violet to-blue hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Prosseguir
                </button> 
            </div>
        </form>
    </div> 
</section>

<footer class="footer">
    @include('layouts/footer')
</footer>

<script src={{"../path/to/flowbite/dist/flowbite.min.js"}}></script>

</html>