@layout('layouts/professors/professors')
@set('title', 'CourseGenie | Professores')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">

      </p>
    </div>
  </section>
@end